
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link rel="stylesheet" href="{{ url_for('login.static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>おかえりなさい</h1>
        <p>また会えて嬉しいよ</p>
        <a href="/loging" class="login-button">
            <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo">
            Googleでログイン
        </a>
    </div>
</body>
</html>
