/* 戻るボタンのスタイル */
.back-button {
    display: inline-block;
    padding: 12px 24px;
    margin: 0;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
}

/* 戻るボタンにホバーした時のスタイル */
.back-button:hover {
    background-color: #0073e6;
}

/* メインナビゲーションバーのスタイル */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* ナビゲーションボタンをまとめたdivのスタイル */
.main-nav div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

/* ナビゲーションボタンのスタイル */
.nav-button {
    display: inline-block;
    padding: 12px 24px;
    margin: 0 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* ナビゲーションボタンにホバーした時のスタイル */
.nav-button:hover {
    background-color: #333;
}

/* アクティブなナビゲーションボタンのスタイル */
.nav-button.active {
    background-color: #eef2ff;
    color: black;
    border: 1px solid #d1d5ff;
    font-weight: bold;
    cursor: default;
}

/* モバイル向けスタイル */
@media screen and (max-width: 768px) {
  .main-nav {
    flex-direction: column; /* 縦並びにする */
    align-items: flex-start; /* 左寄せにする */
    padding: 8px; /* パディングを調整 */
  }

  .main-nav .back-button {
    max-width: 120px; /* 最大幅を設定 */
    text-align: center; /* テキストを中央揃えにする */
    margin-bottom: 8px; /* 下に余白を追加 */
    padding: 10px 20px; /* パディングを調整 */
    font-size: 14px; /* フォントサイズを調整 */
  }

  .main-nav div {
    width: 100%; /* 幅を100%にする */
    justify-content: space-around; /* ボタンを均等に配置 */
  }

  .nav-button {
    flex-grow: 1; /* 利用可能なスペースを均等に分け合う */
    margin: 0 2px; /* 左右の余白を減らす */
    padding: 10px 15px; /* パディングを調整 */
    font-size: 14px; /* フォントサイズを調整 */
    text-align: center; /* テキストを中央揃えにする */
  }
}
